# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# Environment variables
.env

# VS Code / IDEs
.vscode/
.idea/

# Mac / Windows system files
.DS_Store
Thumbs.db
